<header>
  <app-top-bar></app-top-bar>
</header>

<main>
  <div id="left-bar">
    <app-daily-schedules></app-daily-schedules>
  </div>

  <div id="main-container">
    <router-outlet></router-outlet>

    <div class="to-do">
      <h1>TO DO LIST</h1>

      <ul>
        <li>Etat de forme des 5 derneiers matchs domicile</li>
        <li>Etat de forme des 5 derneiers matchs extérieur</li>
        <li>Lineups</li>
        <li>Absents</li>
        <li>comparaison poste par poste</li>
        <li>Ajouter les prédiction en bas de page</li>
        <li>Ajouter une fonctionnalité d'impression du rapport</li>
        <li>Variabiliser les saisons années (2018-19)</li>
        <li>Utiliser une variable globale pour l'import de 'nba'</li>
        <li>FLux RSS / Twitter avec les dernières actualités des équipes</li>
      </ul>
    </div>
  </div>
</main>

<footer>

</footer>
